<section>

  {{! load all the posts }}

  {{#each posts as |post|}}

    <h1>{{post.title}} -- {{format_date post.createdAt}}</h1>

    <p>Written by: {{post.user.username}}</p>

    <p>
      {{post.content}}
    </p>

  {{/each}}

</section>